# ~/.config/bat/config

--map-syntax=*.ac:Perl
--map-syntax=*.bp:Go
--map-syntax=*.cnf:INI
--map-syntax=*.config:XML
--map-syntax=*.Config:XML
--map-syntax=*.just:Makefile
--map-syntax=*.la:Makefile
--map-syntax=*.list:Nix
--map-syntax=*.m4:Perl
--map-syntax=*.mt:Perl
--map-syntax=*.pc:Makefile
--map-syntax=*.policy:Java
--map-syntax=*.prop:INI
--map-syntax=*.rc:Perl
--map-syntax=*.scons:Python
--map-syntax=*.security:Java\ Properties
--map-syntax=*.sublime-snippet:XML
--map-syntax=*.tbd:YAML
--map-syntax=*.tmpl:Perl
--map-syntax=*justfile:Makefile
--map-syntax=*npmrc:INI
--map-syntax=.*env*:Bourne\ Again\ Shell\ (bash)
--map-syntax=.*local*:Bourne\ Again\ Shell\ (bash)
--map-syntax=.gemrc:YAML
--map-syntax=.ignore:Git\ Ignore
--map-syntax=.megarc:INI
--map-syntax=input.conf:Generic\ Config
--map-syntax=Makefile.inc:Makefile
--map-syntax=meson.build:Python
--map-syntax=mpv.conf:Makefile
--map-syntax=rc.*:Bourne\ Again\ Shell\ (bash)
--map-syntax=vlcrc:TOML

# # --pager="less -R"
# # --paging=always
# --color=always
# --paging=never
# --style="header,grid"
# --tabs=4
# --theme="Monokai Extended Origin"
# --wrap=never
# # --style="header,grid,numbers"
# # --show-all

# bat --list-languages | fzf --preview="bat nixenv.man -l='{} | cut -d\" \" -f1'"
# bat --list-languages | fzf --preview="echo (echo {} | cut -d=\" \" -f=1) __"
