# ~/.config/youtube-dl/config
# ~/.config/yt-dlp/config

--add-metadata
--downloader=aria2c
--embed-thumbnail
--force-ipv4
--format-sort=ext,proto
--ignore-errors
--merge-output-format=mp4
# --remux-video=mp4
--no-mtime
--no-warnings
# --output="%(title)s__%(resolution)s__%(id)s.%(ext)s"
--restrict-filenames
