# ~/.config/youtube-dl/config
# ~/.config/yt-dlp/config

--add-metadata
--embed-thumbnail
--force-ipv4
--ignore-errors
--merge-output-format=mp4
--no-call-home
--no-color
--no-mtime
--no-overwrites
--no-part
--no-warnings
--restrict-filenames
