# npm
fund = false
maxsockets = 100
metrics-registry = 0.0.0.0
package-lock = false
# python = /usr/local/bin/python3
registry = https://registry.npmjs.org/
script-shell = /usr/local/bin/bash
send-metrics = false
shell = /usr/local/bin/bash
shrinkwrap = false
update-notifier = false
usage = false

# pnpm
# child-concurrency = 8
# fetch-retries = 1
lockfile = false
# network-concurrency = 32
# package-import-method = copy
# use-beta-cli = true

# dev
init-author-email = roblav96@gmail.com
init-author-name = Robert Laverty
init-author-url = https://github.com/roblav96
init-license = MIT
init-version = 0.0.0
