audit = false
audit-level = critical
format-package-lock = false
fund = false
init-author-email = roblav96@gmx.com
init-author-name = Robert Laverty
init-author-url = https://github.com/roblav96
init-license = MIT
init-version = 0.0.0
init.license = MIT
init.version = 0.0.0
# legacy-peer-deps = true
loglevel = error
logs-max = 1
# maxsockets = 50
metrics-registry = 0.0.0.0
# node-gyp = /usr/local/lib/node_modules/node-gyp/bin/node-gyp.js
package-lock = false
# prefix = /usr/local
# python = /usr/local/bin/python3
rebuild-bundle = false
registry = https://registry.npmjs.org/
script-shell = /usr/local/bin/bash
send-metrics = false
# shamefully-hoist = true
shell = /usr/local/bin/bash
shrinkwrap = false
umask = 022
update-notifier = false
usage = false
# user-agent = "npm/{npm-version}"
# yes = true
