format-package-lock = false
fund = false
init-author-email = roblav96@gmail.com
init-author-name = Robert Laverty
init-author-url = https://github.com/roblav96
init-license = MIT
init-version = 0.0.0
legacy-peer-deps = true
maxsockets = 100
metrics-registry = 0.0.0.0
# node-gyp = /usr/local/lib/node_modules/node-gyp/bin/node-gyp.js
package-lock = false
# python = /usr/local/bin/python3
registry = https://registry.npmjs.org/
script-shell = /usr/local/bin/bash
send-metrics = false
shell = /usr/local/bin/bash
shrinkwrap = false
update-notifier = false
usage = false
yes = true
