{
	"addTrailingCommas": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "ignore",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "never",
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"xmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": [
				"*.csproj",
				"*.plist",
				"*.storyboard",
				"*.svg",
				"*.tmLanguage",
				"*.sublime-snippet",
				"*.tmPreferences",
				"*.tmTheme",
				"*.xml"
			],
			"options": {
				"parser": "xml"
			}
		},
		{
			"files": [
				"*.gson",
				"*.hidden-color-scheme",
				"*.map",
				"*.sublime-build",
				"*.sublime-color-scheme",
				"*.sublime-commands",
				"*.sublime-completions",
				"*.sublime-keymap",
				"*.sublime-settings",
				"*.sublime-theme"
			],
			"options": {
				"parser": "json"
			}
		},
		{
			"files": [
				"*.sublime-syntax",
				"*.sublime-syntax.yaml-macros",
				"*.yaml",
				"*.YAML-tm*",
				"*.yml",
				"h2o.conf"
			],
			"options": {
				"parser": "yaml",
				"singleQuote": false,
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": ["*.less"],
			"options": {
				"parser": "less"
			}
		},
		{
			"files": ["*.sass", "*.scss"],
			"options": {
				"parser": "scss"
			}
		},
		{
			"files": ["*.tml", "*.toml"],
			"options": {
				"parser": "toml",
				"singleQuote": false,
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": ["*.blade.php"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": ["*.php"],
			"options": {
				"phpVersion": "7.4"
			}
		}
	]
}
