{
	"addTrailingCommas": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "never",
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": [
				"*.csproj",
				"*.plist",
				"*.svg",
				"*.tmLanguage",
				"*.tmPreferences",
				"*.tmTheme",
				"*.xml"
			],
			"options": {
				"parser": "xml"
			}
		},
		{
			"files": ["*.hidden-color-scheme", "*.sublime-color-scheme"],
			"options": {
				"parser": "json",
				"printWidth": 1
			}
		},
		{
			"files": [
				"*.sublime-syntax",
				"*.sublime-syntax.yaml-macros",
				"*.yaml",
				"*.YAML-tm*",
				"*.yml",
				"h2o.conf"
			],
			"options": {
				"parser": "yaml",
				"useTabs": false
			}
		},
		{
			"files": ["*.less"],
			"options": {
				"parser": "less"
			}
		},
		{
			"files": ["*.sass", "*.scss"],
			"options": {
				"parser": "scss"
			}
		},
		{
			"files": ["*.tml", "*.toml"],
			"options": {
				"parser": "toml"
			}
		},
		{
			"files": ["*.blade.php"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": ["*.php"],
			"options": {
				"phpVersion": "7.4"
			}
		}
	]
}
