{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "ignore",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "never",
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": ["*.html"],
			"options": { "singleQuote": false }
		},
		{
			"files": ["*.tmLanguage", "*.tmTheme"],
			"options": { "parser": "xml", "printWidth": 999999 }
		},
		{
			"files": ["*.hidden-color-scheme", "*.sublime-color-scheme"],
			"options": { "parser": "json", "printWidth": 1 }
		},
		{
			"files": ["*.sublime-syntax", "*.yaml", "*.yml", "h2o.conf"],
			"options": { "tabWidth": 2, "useTabs": false }
		},
		{
			"files": ["*.less"],
			"options": { "parser": "less" }
		},
		{
			"files": ["*.sass", "*.scss"],
			"options": { "parser": "scss" }
		},
		{
			"files": ["*.plist", "*.svg", "*.xml", "*.csproj"],
			"options": { "parser": "xml" }
		},
		{
			"files": ["*.toml"],
			"options": { "parser": "toml" }
		}
	]
}
